# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.venv/
venv/
ENV/
.env

# --- OS / IDE ---
.DS_Store
Thumbs.db
.idea/
.vscode/

# --- PyInstaller ---
build/
dist/
*.spec

# --- Local scratch ---
py/
